<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ulti Throws</title>
    <link rel="stylesheet" href="static/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
            function startExercise() {
                // Send an AJAX request to the Flask endpoint
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/catch_disk_video", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            // Handle success
                            console.log("Exercise started successfully");
                        } else {
                            // Handle error
                            console.error("Error starting exercise");
                        }
                    }
                };
                xhr.send();
            }


            //setInterval(fetchVideoData, 50);
    </script>

</head>
<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Intro -->
            <section id="intro" class="wrapper style1 fullscreen fade-up">
                <div class="inner">
                    <ul class="actions">
                        <li><a href="\" class="button">Go back</a></li>
                    </ul>
                    <h1>Reflex exercise</h1>
                            <p>A frisbee will appear in the projected image, grab the frisbee using both hands as in the tutorial.</p>
                    <div class="image">
                    </div>
                    <div class="content-wrapper">
                        <!--TODO: add different types of input-->
                        <div class="image">
                            <img src="{{url_for('catch_disk_video')}}">
                        </div>
                        <div class="text">
                            <h2>Feedback</h2>
                            <p><span id="feedback">--</span></p>
                        </div>
                        <ul class="actions">
                            <li><a onclick="startExercise()" class="button">Start</a></li>
                        </ul>
                        
                    </div>
                </div>
            </section>

    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
            <ul class="menu">
                <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/jquery.scrollex.min.js"></script>
    <script src="static/assets/js/jquery.scrolly.min.js"></script>
    <script src="static/assets/js/browser.min.js"></script>
    <script src="static/assets/js/breakpoints.min.js"></script>
    <script src="static/assets/js/util.js"></script>
    <script src="static/assets/js/main.js"></script>
</body>
</html>